.header{
    display: flex;
    flex-direction: column;
    
    position: relative;
}

.header-helpcenter{
    display: flex;
    float: right;
    border: 1px solid black;
}
.smileclub{
    display: flex;
}
.user-info_area{
    display: flex;
}